
<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>GURUBUYを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', search_category_items_path, class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© GURUBUY</p>
</div>