<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>GURUBUY利用規約</p>
    <p class='second-fotter-text'>特定商取引に関する表記</p>
  </div>
  <%= link_to image_tag("facebook_cover_photo_1.png", class:"second-fotter-logo"), root_path %>
</footer>